body, html {
    height: 100%;
    margin: 0;
    font-family: "roc-grotesk", sans-serif;
font-weight: 300;
font-style: normal;
  }


  .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    z-index: 1; 
  }

  h1{
    font-family: "roc-grotesk", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 4em;
    margin: 0;

  }

  p{
    font-size: 16px;
  }
  
/* Menu*/
.menu {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header {
  padding: 20px 0; 
  color: #fff; 
}

.logo img {
  height: 26px;
}

.icon > svg{
  text-align: center;
}

.icono{
  display: none;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  margin-left: 30px; 
}

nav ul li:first-child {
  margin-left: 0; 
}

nav ul li a {
  color: #fff; 
  text-decoration: none; 
  transition: color 0.3s; 
}

nav ul li a:hover {
  color:  rgb(114, 102, 255); 
}


  canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: #000; /* Fondo negro */
  }


  button {
    --glow-color: rgba(218, 203, 255, 0.907);
    --glow-spread-color: rgba(98, 38, 251, 0.71);
    --enhanced-glow-color: rgb(114, 102, 255);
    --btn-color: rgba(0, 0, 0, 0);
    border: .10em solid var(--glow-color);
    padding: 1em 3em;
    color: var(--glow-color);
    font-size: 15px;
    font-weight: bold;
    background-color: var(--btn-color);
    border-radius: 2em;
    outline: none;
    box-shadow: 0 0 1em .14em var(--glow-color),
           0 0 4em 1em var(--glow-spread-color),
           inset 0 0 .2em .14em var(--glow-color);
    text-shadow: 0 0 .5em var(--glow-color);
    position: relative;
    transition: all 0.3s;

   }

   button> a{
    text-decoration: none;
    text-shadow: 0 0 .5em var(--glow-color);
    position: relative;
    color: var(--glow-color);
   }

   button::after {
    pointer-events: none;
    content: "";
    position: absolute;
    top: 140%;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--glow-spread-color);
    color: var( --btn-color);
    filter: blur(2em);
    opacity: .7;
    transform: perspective(1.5em) rotateX(35deg) scale(1, .6);

   }
   button:hover {
    background-color: var(--glow-color);
    box-shadow: 0 0 1em .14em var(--glow-color),
           0 0 4em 2em var(--glow-spread-color),
           inset 0 0 .45em .14em var(--glow-color);
           color: black;
   }

   button>a:hover{
           color: black;
   }

   button:active {
    box-shadow: 0 0 0.6em .14em var(--glow-color),
           0 0 2.5em 2em var(--glow-spread-color),
           inset 0 0 .5em .14em var(--glow-color);
   }


   .arrow {
    position: absolute;
    bottom: 20px; /* Ajusta la distancia desde la parte inferior según sea necesario */
    left: 50%;
    transform: translateX(-80%);
  }
  
  .arrow-button > svg {
    text-decoration: none;
    color: #ffffff;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: transform 0.3s;
  }
  
  .arrow-button > svg:hover {
    transform: translateY(-10px); /* Desplaza ligeramente hacia arriba al pasar el ratón sobre él */
  }
  
  

   /* Sobre nosotros*/
#about{
  padding-top:  850px;
  padding-bottom: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.col-md-3product-item{
  display: flex;
  align-items: center;
}
.model-viewer{
padding-left: 20px;
  width: 400px; 
 height: 500px; 
}

.glass-container {
  width: 600px;
  margin: 0; 
  text-align: center;
background: rgba(255, 255, 255, 0.06);
border-radius: 16px;
box-shadow: 0 4px 10px rgba(255, 255, 255, 0.608);
backdrop-filter: blur(1px);
-webkit-backdrop-filter: blur(1px);
border: 0.5px solid rgba(255, 255, 255, 0.568);
}

h2 {
  font-weight: 400;
    font-size: 2.1em; 
    margin-bottom: 3px; 
    padding: 0.2em;
    color: rgba(255, 255, 255 );
    
}

p {
    font-size: 0.9em; 
    line-height: 1.5; 
    padding: 0.8em;
    color: rgba(255, 255, 255 );
}

 /* Footer */
  
 footer{
  width: auto;
  padding: 3em;
  background: linear-gradient(to bottom, rgba(128, 0, 128, 0) 0%, rgba(98, 38, 251, 0.587))
}
footer > div > img{
  width: 180px;
  height: 50px;

}
.links{
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  font-size: 0.9em; 
}

.links > div > h4 {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding-top: 0.3em;
  color: rgba(255, 255, 255 ) ;

}

.links > div > ul >  li{
  list-style: none;
  padding-top: 0.3em;
  color: rgba(255, 255, 255 ) ;

}

.links > div > ul >  li > a:hover {
  color:  rgb(114, 102, 255);

}
.redes{
  display: flex;
  justify-content: center;
  margin: 2px;
  color: rgba(255, 255, 255 );
}

.redes > svg:hover{
  color:  rgb(114, 102, 255);
}

   /* Responsive apartado */


  @media (max-width: 768px){


.menu{
  padding-top: 0.5em;
  padding-left: 0.5em;
  align-items: center;
  width: 100%;
}
.logo img {
  height: 30px;
}

.icon > svg{
width: 50px;
height: 50px;
padding-top: 1em;
}

.nav-link{
font-size: 0.8em;
}
#nav-container {
flex-direction: column;
position: fixed;
top: 40px;
left: 0;
width: 100%;

}


/* Menú hamburguesa*/

#nav-container {
display: none;
}

/* Mostrar el icono del menú */
#menu-icon {
display: block;
cursor: pointer; 
}

/* Mostrar el menú hamburguesa */
#nav-container.Show {
display: block;
flex-direction: column;
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 30%;
background-color: #000000; 
z-index: 1;
}

#nav-list {
list-style: none;
flex-direction: column;
padding: 20px;
}

#nav-list li {
margin-bottom: 15px;
}

/*  icono del menú cuando el menú está abierto */

#menu-icon.Show {
display: block;
position: fixed;
color: black; 
z-index: 1;
justify-content: flex-start;
padding: 0.2em;

}


/*  TITULO*/

h1{
  font-size: 3em;
}

p{
  font-size: 13px;
  width: 320px;
}

/* SOBRE NOSOTROS */

#about{
  padding-top:  650px;
  padding-bottom: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.glass-container {
  width: 300px;
  padding: 15px;
}

.model-viewer{
    width: 200px; 
   height: 300px; 
  }


  footer > div {
    flex-direction: column;
}

.redes{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 2px;
}

  }