body, html {
    height: 100%;
    margin: 0;
    font-family: "roc-grotesk", sans-serif;
font-weight: 300;
font-style: normal;
margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff;
    
  }


/* Menu*/
.menu {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  header {
    padding: 20px 0; 
    color: #fff; 
  }
  
  .logo img {
    height: 40px;
  }
  
  .icon > svg{
    text-align: center;
  }
  
  .icono{
    display: none;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav ul li {
    margin-left: 30px; 
  }
  
  nav ul li:first-child {
    margin-left: 0; 
  }
  
  nav ul li a {
    color: #fff; 
    text-decoration: none; 
    transition: color 0.3s; 
  }
  
  nav ul li a:hover {
    color:  rgb(114, 102, 255); 
  }


  .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    margin: 20px;
}

.column-left, .column-center, .column-right {
    flex: 1;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.column-left {
    max-width: 30%;
    text-align: center;
}

.column-center {
    max-width: 40%;
    text-align: center;
}

.column-right {
    display: block;
    max-width: 30%;
    text-align: center;
}

.carousel {
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.carousel-text h3{
    font-size: 32px; 
}

.carousel-text {
    text-align: left;
    font-size: 12px; 
}

.carousel-text div {
    display: none;
    opacity: 0;
    transition: opacity 1s ease, transform 1s ease;
}

.carousel-text div.active {
    display: block;
    opacity: 1;
    transform: scale(1.05);
}

.carousel-text h3, .carousel-text p, .fixed-text h2, .fixed-text p {
    font-weight: normal; 
}


.carousel-image img {
    display: none;
    max-width: 500px;
    max-height: auto;
    opacity: 0;
    transition: opacity 1s ease, transform 1s ease;
}

.carousel-image img.active {
    display: block;
    opacity: 1;
    transform: scale(1.05);
}

.fixed-text {
    padding: 10px;
    text-align: center;
    font-size: 13px; 
}

.fixed-text h2{
    font-size: 32px; 
}

.indicators {
    display: flex;
    gap: 10px;
    margin-top: 25px;
}

.indicator {
    width: 12px;
    height: 12px;
    background-color: rgba(255, 255, 255, 0.327);
    border-radius: 50%;
    cursor: pointer;
}

.indicator.active {
    background-color:  rgb(114, 102, 255); ;
}

.buy-button {
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 2em; 
    color: #ffffff;
    cursor: pointer;
    border-radius: 20px;
    text-align: center;
    margin-top: 20px;
}
